* {
  font-family: "Inter", sans-serif;

  body {
    background-image: url("../assets/bg.png");
    min-height: 1000px;

 
    .ips-login-logo{
      img{
        max-width:150px;
      max-height:150px; 
      }
    }
    .login-form {
      margin-top: 60px;
      max-width: 581px;
      min-height: 430px;
      background-color: #ffffff;
      padding: 40px 108px 30px 108px;
      border-radius: 7px;
      color: #434856;

      h1 {
        font-size: 20px;
      }

      .form-group {
        label,
        p,
        a {
          font-size: 14px;
          color: #434856;
        }
      }

      button {
        width: 100%;
        background-color: #1f5dd1;
      }
    }

    .regis-form {
      margin-top: 60px;
      margin-bottom: 60px;
      max-width: 904px;
      height: auto;
      background-color: #ffffff;
      padding: 70px;
      border-radius: 7px;
      color: #434856;

      form {
        h1 {
          font-size: 24px;
        }
        h2 {
          font-size: 18px;
        }

        .btn {
          background-color: #1f5dd1;
        }
      }
    }

    footer {
      border-radius: 7px;
      margin-top: 150px;
      margin-left: auto;
      margin-right: auto;
      max-width: 581px;
      font-size: 14px;
      padding: 5px;
      background-color: #ffffff;
    }
  }
}

@media (max-width: 414px) {
  body {
    padding: 7px;
    .login-form {
      max-width: 581px;
      min-height: 430px;

      padding: 10px;

      h1 {
        font-size: 20px;
      }
    }

    .regis-form {
      padding: 20px;
    }
  }
}
